<!doctype html>
<html>
  <header>
    <title>
      <h1>Today</h1>
    </title>
    </header>
    <body>
      <p><%= DateTime.now.strftime("The date is %A, %B %d, %Y") %>
      </p>
    </body>
</html>
