<!DOCTYPE html>
<html>
    <head>
        <title>Date</title>
    </head>
    <body>
        <h1>Date</h1>
        <%= dt = DateTime.now %>
        <p><%= "The date is #{dt.strftime("%A, %B %d, %Y")}" %></p>
    </body>
</html>
